In [1]:
# Import dependencies.
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set up Splinter.
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit the Mars Facts site
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [3]:
# Find the mars facts table.
table = soup.find('table', class_='table-striped')

In [4]:
# Check the variable.
table.text

'\n\n\nEquatorial Diameter:\n6,792 km\n\n\nPolar Diameter:\n6,752 km\n\n\nMass:\n\t6.39 × 10^23 kg (0.11 Earths)\n\n\nMoons:\n\t2 ( Phobos  &  Deimos )\n\n\nOrbit Distance:\n\t227,943,824 km (1.38 AU)\n\n\nOrbit Period:\n\t687 days (1.9 years)\n\n\nSurface Temperature:\n\t-87 to -5 °C\n\n\nFirst Record:\n\t2nd millennium BC\n\n\nRecorded By:\n\tEgyptian astronomers\n\n\n'

In [5]:
# Create a dictionary to contain the mars facts.
mars_facts = {}
rows = table.find_all('tr')

for row in rows:
    row_heading = row.find('th').text
    row_data = row.find("td").text.strip() # Strip method takes off any whitespace. 
    mars_facts[row_heading] = row_data

In [6]:
# Check the mars_facts dictionary.
mars_facts

{'Equatorial Diameter:': '6,792 km',
 'Polar Diameter:': '6,752 km',
 'Mass:': '6.39 × 10^23 kg (0.11 Earths)',
 'Moons:': '2 ( Phobos  &  Deimos )',
 'Orbit Distance:': '227,943,824 km (1.38 AU)',
 'Orbit Period:': '687 days (1.9 years)',
 'Surface Temperature:': '-87 to -5 °C',
 'First Record:': '2nd millennium BC',
 'Recorded By:': 'Egyptian astronomers'}

In [7]:
browser.quit()

In [8]:
# Scrape the website using pandas.
import pandas as pd

In [9]:
df = pd.read_html("https://galaxyfacts-mars.com/")
df

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [10]:
# Create a DF for the Mars-Earth Comparison table.
mars_df = df[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
# Rename the columns
mars_df.columns = ['description', 'Mars','Earth']
mars_df

               description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
# Eliminate the first row, as the values are duplicated.
mars_df = mars_df.iloc[1:]
mars_df

          description             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C